.App {
  font-family: 'Times New Roman', Times, serif;
  background-color: aqua;
}

#logo {
  border-radius: 20px;
  width: 100px;
  height: 100px;
}

.Location {
  text-align: center;
}

.Title {
  text-align: center;
}