body {
  background-color: #9dd9f3;
  color: white;
  padding: 40px;
  font-family: Arial;
}

#logo {
  border-radius: 20px;
  width: 100px;
  height: 100px;
}

.Location {
  text-align: center;
}

.Title {
  text-align: center;
}